@font-face {
	font-family: 'BL Melody Book';
	src: url(../../assets/fonts/BLMelody-Book.woff2) format('woff2'),
	url(../../assets/fonts/BLMelody-Book.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BL Melody Book';
	src: url(../../assets/fonts/BLMelody-Book.woff2) format('woff2'),
	url(../../assets/fonts/BLMelody-Book.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BL Melody Book';
	src: url(../../assets/fonts/BLMelody-Book.woff2) format('woff2'),
	url(../../assets/fonts/BLMelody-Book.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}