@font-face {
	font-family: 'Nexa-Trial Book';
	src: url(../../assets/fonts/Nexa-Trial-Book.woff2) format('woff2'),
	url(../../assets/fonts/Nexa-Trial-Book.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nexa-Trial Book';
	src: url(../../assets/fonts/Nexa-Trial-Book.woff2) format('woff2'),
	url(../../assets/fonts/Nexa-Trial-Book.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nexa-Trial Book';
	src: url(../../assets/fonts/Nexa-Trial-BookItalic.woff2) format('woff2'),
	url(../../assets/fonts/Nexa-Trial-BookItalic.woff) format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nexa-Trial Book';
	src: url(../../assets/fonts/Nexa-Trial-BookItalic.woff2) format('woff2'),
	url(../../assets/fonts/Nexa-Trial-BookItalic.woff) format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}